/*共通設定*/
html{
    font-size: 1.6vw;/*基準サイズ(横幅1000pxで1文字16pxになる)*/
    scroll-padding-top: 55px;/*ページ内リンクのずれ補正用*/
}
/*位置調整*/
body{
    margin: 0;
}
/*一番上のコンテンツがヘッダーと被らないように調整*/
.contents{
    padding-top: 50px;
}
/*コンテンツの位置調整用*/
.content{
    padding-top: 1.5vw;
}
/*余白をつけ、中央に配置*/
.wrapper{
    max-width: 80%;
    margin: 5% auto 0; /*中央に配置*/
    padding: 0 4%; /*スマホ向けの調整*/
}
/*背景をグレーにする*/
.gray{
    background: #ccc;
    padding-bottom: 3vw;
}
/*見出しのサイズと位置*/
.content h2{
    margin: 1vw 0;
    padding-left: 10%;
    font-size: 2rem;
}
/*テキストボックスの基本設定*/
.text{
    background: #eee;
    padding: 0 1vw;
    vertical-align: middle;
    font-size: 1.2rem;
}
/*アイコンの基本設定*/
.icon{
    max-width: 2.2vw;
    max-height: 2.2vw;
    vertical-align: middle;
    margin: 0 0.5% 0 0.2%;
}

/*----- content#00 -----*/
.top{
    display: grid;/*グリッドで配置*/
    grid-template-columns: 1.2fr 1fr;
    gap: 7%;
}
/*画像の位置等調整*/
.top img{
    max-width: 90%;
    height: auto;
}
/*文字の位置等調整*/
.top p{
    margin-top: 8vw;
    font-size: 2.2rem;
    margin-bottom: 0;
}
.top h4{
    font-size: 1.2rem;
    margin-top: 1vw;
}
.top h1{
    margin-top: 4.5vw;
    font-size: 2.75rem;
}

/*----- content#01 -----*/
.info.wrapper{
    margin-top: 0;
}
.info{
    display: grid;/*グリッドで配置*/
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}
/*文字の位置等調整*/
.date h2{
    padding: 0;
    margin: 0;
}
.date p{
    margin: 0;
    font-size: 1.3rem;
}
.info h3{
    background: #fff;
    padding: 1vw 3vw;
    text-align: center;
    width: fit-content;
    vertical-align: middle;
}
.info small{
    font-size: 0.9rem;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}
.row h2{
    font-size: 1.8rem;
    margin: 0;

}
.info i{
    color: #000;
}

/*----- content#02 -----*/
.box{
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 0 auto;
}
.left{
    position: absolute;
    min-width: 52%;
    height: 36vw;
    bottom: 28%;
    left: 5%;
}
.right{
    position: absolute;
    width: 52%;
    bottom: 12%;
    right: 5%;
    text-align: center;
    padding: 2vw 0;
}

/*----- content#03 -----*/
.text.club-introduction{
    background: #fff;
    max-width: 70%;
    margin: 0 auto 3vw;
    padding-bottom: 3vw;
    font-size: 1.2rem;
}
.club-introduction .icon{
    max-width: 3vw;
    max-height: 3vw;
}
.club-introduction h3{
    font-size: 1.15rem;
    padding: 2vw 0 0;
}
.site-link{
    background: #444;
    color: #fff;
    text-align: left;
    text-decoration: none;
    border-radius: 2vw;
    font-size: 1rem;
    padding: 1vw;
    margin: 10px 0;
}
.site-link:hover{
    background: #555;
    cursor: pointer;
}

/*----- content#04 -----*/
.development-introduction .text{
    width: 46%;
    padding: 0 3vw;
}
.development-introduction .text h3{
    padding-top: 2vw;
    margin: 1vw 0;
    font-size: 1.1rem;
}
.development-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
/*flexの配置の順番*/
.r{
    order: 1;
}
.l{
    order: -1;
}

/*----- content#05 -----*/
.bottom{
    margin-top: 5vw;
}
.others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.others.wrapper{
    margin-top: 20px;
}
.others p{
    margin-top: 0;
    font-size: 0.8rem;
}
.sns{
    width:40%;
    padding-bottom: 3%;
    margin: 0;
}
.sns iframe{
    max-width:95%;
}
.poster{
    max-width: 55%;
    margin: 0;
}
.poster img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}


/*---------- ヘッダーの各種設定 ----------*/

/*ヘッダーの位置等調整*/
header {
    position: absolute;
    z-index: 9999;
}
.header-content{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:10px 0;
    background: #ccc;
    margin-bottom: 20px;
}
/*ヘッダーロゴの位置調整*/
.header-logo{
    text-align:left;
    font-size: 20px;
    margin:0 20px;
    color: #000;
    text-decoration: none;
}
.header-logo h3{
    margin: 0;
}
/*チェックボックスを非表示にする*/
.nav-unshown {
    display:none;
}   
/*ハンバーガーアイコンの設置スペース*/
 #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
/*ハンバーガーメニューの3本線*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
}
/*薄暗い箇所、押したらメニューを閉じる*/
#nav-close {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
/*メニューの中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
.nav-list{
    list-style: none;
    padding: 30px 20px 0;
}
.nav-item{
    margin-top: 20px;
    border-bottom: 1px #ddd solid;
}
.nav-item a{
    font-size: 20px;
    color: #666;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: block;
}
/*カーソルを置いたときに色を変える*/
.nav-item a:hover{
    color: #235BC8;
}
/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
} 
#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/*---------- スライダーの各種設定 ----------*/

/*スライダーの幅調整*/
.slider{
    margin-top: 2vw;
    max-width: 30%;
}
/*------ スライダー画像 ------*/
.slick-slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*-------- 高さ調整 ----------*/
.slick-slide{
    height:auto!important;
}
/*---------- ドット ----------*/
.slick-dots li {
	width: 10px;
    bottom: 10px;
}
/*----------- 矢印 -----------*/
.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;
}
.slick-arrow:before{
    font-size: 30px!important;
}

/*---------- フッターの各種設定 ----------*/

/*フッターの位置等調整*/
footer {
    width: 100%;
    background: #444;
    text-align: center;
    color: #fff;
    padding-bottom: 2vw;
}
footer h1{
    margin: 0;
    padding-top: 4.5%;
}
footer p{
    margin: 1.25%;
}
/*Twitterのアイコン*/
.twitter-box{
    background: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
}
.lab{
    color: #444;
    margin: 0.25rem;
    font-size: 2rem;
    border-radius: 0%;
}
.twitter-box:hover{
    cursor: pointer;
}

/*---------- モバイル版 ----------*/
@media(max-width: 768px){
    .wrapper{
        max-width: 95%;
    }
    .content h2{
        padding-left: 5%;
    }
    .date h2{
        padding: 0;
    }
    .left{
        position: static;
        min-width: 20%;
        max-width: 50%;
        height: auto;
    }
    .right{
        position: static;
        width: auto;
        min-width: 55%;
        max-width: 100%;
        padding: 2vw;
    }
    .box{
        display: grid;
        width: auto;
        height: auto;
        gap: 1.5vw;
        justify-items: center;
        align-items: center;
    }
    .text.club-introduction{
        max-width: 90%;
        font-size: 1rem;
    }
    .development-introduction{
        flex-flow: column;
    }
    .development-introduction .text{
        min-width: 65%;
        max-width: 100%;
    }
    .slider{
        max-width: 45%;
    }
    .l, .r{
        order: 0;
    }
    .others{
        flex-flow: column;
        justify-items: center;
        align-items: center;
    }
    .poster{
        max-width: 80%;
    }
    .sns{
        width: 80%;
    }
    .sns iframe{
        max-width:100%;
    }
    #nav-content{
        width: 75%;
    }
    .nav-item{
        margin: 20px;
    }
    .nav-item a {
        font-size: 14px;
        padding: 5px;
    }
}