/*基準サイズ(横幅1000pxで1文字16pxになるよう調整)*/
html{
    font-size: 1.6vw;
    scroll-padding-top: 55px;/*ページ内リンクのずれ補正用*/
}
/*全体の位置調整*/
body{
    margin: 0;
}

/*アイコンの基本設定*/
.icon{
    max-width: 2.2vw;
    max-height: 2.2vw;
    vertical-align: middle;
    margin: 0 0.5% 0 0.2%;
}

/*---------- フッターの各種設定 ----------*/

/*フッターの位置等調整*/
footer {
    width: 100%;
    background: #444;
    text-align: center;
    color: #fff;
    padding-bottom: 2vw;
}
footer h1{
    margin: 0;
    padding-top: 4.5%;
}
footer p{
    margin: 1.25%;
}
/*Twitterのアイコン*/
.twitter-box{
    background: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
}
.lab{
    color: #444;
    margin: 0.25rem;
    font-size: 2rem;
    border-radius: 0%;
}
.twitter-box:hover{
    cursor: pointer;
}

/*---------- モバイル版 ----------*/
@media(max-width: 768px){
    /*----- footer -----*/
    footer h1{
        font-size: 2.4rem;
    }
    footer p{
        font-size: 1.5rem;
    }
    .twitter-box{
        width: 4rem;
        height: 4rem;
    }
    .lab{
        margin: 0.5rem;
        font-size: 3rem;
    }
}