/*----- 共通設定 -----*/
html{
    font-size: 1.6vw;/*基準サイズ(横幅1000pxで1文字16pxになる)*/
    scroll-padding-top: 55px;/*ページ内リンクのずれ補正用*/

    font-family: Meirio, sans-serif;
}
/*位置調整*/
body{
    margin: 0;
}
/*一番上のコンテンツがヘッダーと被らないように調整*/
.contents{
    padding-top: 50px;
}
/*コンテンツの位置調整用*/
.content{
    padding-top: 1.5vw;
}
/*余白をつけ、中央に配置*/
.wrapper{
    max-width: 80%;
    margin: 5% auto 0; /*中央に配置*/
    padding: 0 4%; /*スマホ向けの調整*/
}
/*背景をグレーにする*/
.gray{
    background: #ccc;
    padding-bottom: 3vw;
}
/*見出しのサイズと位置*/
.content h2{
    margin: 1vw 0;
    padding-left: 10%;
    font-size: 2rem;
}
/*テキストボックスの基本設定*/
.text{
    background: #eee;
    padding: 0 1vw;
    vertical-align: middle;
    font-size: 1.2rem;
}
/*アイコンの基本設定*/
.icon{
    max-width: 2.2vw;
    max-height: 2.2vw;
    vertical-align: middle;
    margin: 0 0.5% 0 0.2%;
}
/*flexの配置の順番*/
.r{
    order: 1;
}
.l{
    order: -1;
}

/*----- content#00 -----*/

.top{
    display: grid;/*グリッドで配置*/
    grid-template-columns: 1.2fr 1fr;
    gap: 7%;
}
/*画像の位置等調整*/
.top img{
    max-width: 90%;
    height: auto;
}
/*文字の位置等調整*/
.top p{
    margin-top: 8vw;
    font-size: 2.2rem;
    margin-bottom: 0;
}
.top h4{
    font-size: 1.2rem;
    margin-top: 1vw;
}
.top h1{
    margin-top: 4.5vw;
    font-size: 2.75rem;
}


/*----- content#01 -----*/

/*余白の調整*/
.info.wrapper{
    margin-top: 0;
}
.info{
    display: grid;/*グリッドで配置*/
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}
/*文字の位置等調整*/
.date h2{
    padding: 0;
    margin: 0;
}
.date p{
    margin: 0;
    font-size: 1.3rem;
}
.info h3{
    background: #fff;
    padding: 1vw 3vw;
    text-align: center;
    width: fit-content;
    vertical-align: middle;
}
.info small{
    font-size: 0.9rem;
}
/*グリッド内でグリッド配置*/
.row{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}
.row h2{
    font-size: 2rem;
    margin: 0;
}
/*マップピンのアイコン*/
.info i{
    color: #000;
}


/*----- content#02 -----*/

/*画像とテキストボックスの親クラス*/
.box{
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 0 auto;
}
/*画像の配置*/
.left{
    position: absolute;
    min-width: 52%;
    height: 36vw;
    bottom: 28%;
    left: 5%;
}
/*テキストボックスの配置*/
.right{
    position: absolute;
    width: 52%;
    bottom: 12%;
    right: 5%;
    text-align: center;
    padding: 2vw 0;
	font-size: 1rem
}

/*----- content#03 -----*/

/*テキストボックスの設定*/
.text.club-introduction{
    background: #fff;
    max-width: 75%;
    margin: 0 auto 3vw;
    padding-bottom: 3vw;
    font-size: 0.9rem;
}
/*アイコンを少し大きめにする*/
.club-introduction .icon{
    max-width: 3vw;
    max-height: 3vw;
}
.club-introduction h3{
    font-size: 1.15rem;
    padding: 2vw 0 0;
}
/*公式サイトへのリンクの設定*/
.site-link{
    background: #444;
    color: #fff;
    text-align: left;
    text-decoration: none;
    border-radius: 2vw;
    font-size: 1rem;
    padding: 1vw;
    margin: 10px 0;
}
.site-link:hover{
    background: #555;
    cursor: pointer;
}


/*----- content#04 -----*/

/*テキストボックスの幅*/
.development-introduction .text{
    width: 46%;
    padding: 0 3vw;
}
/*テキストの位置とサイズ調整*/
.development-introduction .text h3{
    padding-top: 2vw;
    margin: 1vw 0;
    font-size: 1.2rem;
}
/*一言コメント欄*/
.development-introduction .text strong{
    font-size: 1.1rem;
}
.development-introduction .text{
    font-size: 1rem;
}
/*flexで配置*/
.development-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

/*----- content#05 -----*/

/*content#04との間隔をあける*/
.bottom{
    margin-top: 5vw;
}
.others{
    display: flex;/*flexで配置*/
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.others.wrapper{
    margin-top: 20px;
}
.others p{
    margin-top: 0;
    font-size: 0.8rem;
}
/*ツイッターのタイムラインを入れる箱*/
.sns{
    width:50%;
    padding-bottom: 3%;
    margin: 0;
}
/*ツイッターのタイムラインの横幅を可変にする*/
.sns iframe{
    max-width:90%;
}
/*ポスターを入れる箱*/
.poster{
    max-width: 50%;
    margin: 0;
}
/*画像がはみ出ないように*/
.poster img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}


/*---------- ヘッダーの各種設定 ----------*/

/*ヘッダーの位置等調整*/
header {
    position: absolute;
    z-index: 9999;
}
.header-content{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:10px 0;
    background: #ccc;
    margin-bottom: 20px;
}
/*ヘッダーロゴの位置調整*/
.header-logo{
    text-align:left;
    font-size: 20px;
    margin:0 20px;
    color: #000;
    text-decoration: none;
}
.header-logo h3{
    margin: 0;
}

.faq{
    text-align:right;
    font-size: 15px;
    margin:0 15px 0 auto;
    color: #000;
    text-decoration: none;
}
.faq h2{
    margin: 0;
}
.faq ::after {
  margin-left: 3px;
  font-family: "Line Awesome Free";
  content: '\f35d';
  font-weight: bold;
}
/*チェックボックスを非表示にする*/
.nav-unshown {
    display:none;
}   
/*ハンバーガーアイコンの設置スペース*/
 #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
/*ハンバーガーメニューの3本線*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
}
/*薄暗い箇所、押したらメニューを閉じる*/
#nav-close {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
/*メニューの中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
/*余白調整・リストの点を消す*/
.nav-list{
    list-style: none;
    padding: 30px 20px 0;
}
/*メニューのコンテンツに下線を引く*/
.nav-item{
    margin-top: 20px;
    border-bottom: 1px #ddd solid;
}
/*メニュー内の文字の位置等調整*/
.nav-item a{
    font-size: 20px;
    color: #666;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: block;
}
/*カーソルを置いたときに色を変える*/
.nav-item a:hover{
    color: #235BC8;
}
/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
} 
#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/*---------- スライダーの各種設定 ----------*/

/*スライダーの幅調整*/
.slider{
    margin-top: 2vw;
    max-width: 30%;
}
.slick-track {
	display: flex;
	align-items: center;
}
/*------ スライダー画像 ------*/
.slick-slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*-------- 高さ調整 ----------*/
.slick-slide{
    height:auto!important;
}
/*---------- ドット ----------*/
.slick-dots li {
	width: 10px;
    bottom: 10px;
}
/*----------- 矢印 -----------*/
.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;
}
.slick-arrow:before{
    font-size: 30px!important;
}

/*---------- フッターの各種設定 ----------*/

/*フッターの位置等調整*/
footer {
    width: 100%;
    background: #444;
    text-align: center;
    color: #fff;
    padding-bottom: 2vw;
}
footer h1{
    margin: 0;
    padding-top: 4.5%;
}
footer p{
    margin: 1.25%;
}
/*Twitterのアイコン*/
.twitter-box{
    background: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
}
.lab{
    color: #444;
    margin: 0.25rem;
    font-size: 2rem;
}
.twitter-box:hover{
    cursor: pointer;/*マウスカーソルを指マークに*/
}

/*---------- スマホ・タブレット版 ----------*/
@media(max-width: 768px){
    /*基本的には余白・幅・サイズの設定*/

    /*----- 共通設定 -----*/
    .wrapper{
        max-width: 95%;
    }
    .content h2{
        padding-left: 5%;
        font-size: 2.65rem;
    }
    .icon{
        max-width: 3.5vw;
        max-height: 3.5vw;
    }
    .text{
        font-size: 1.5rem;
    }
    /*順番を入れ替えていたのをもとに戻す*/
    .l, .r{
        order: 0;
    }
    /*----- content#00 -----*/
    .top p{
        font-size: 2.65rem;
    }
    .top h1{
        margin-top: 6vw;
        font-size: 3.2rem;
    }
    .top{
        gap: 3%;
    }
    /*----- content#01 -----*/
    .date h2{
        padding: 0;
    }
    /*----- content#02 -----*/
    /*配置をabsoluteでなくする*/
    .left{
        position: static;
        min-width: 20%;
        max-width: 50%;
        height: auto;
    }
    .right{
        position: static;
        width: auto;
        min-width: 55%;
        max-width: 100%;
        padding: 2vw;
    }
    /*gridで配置*/
    .box{
        display: grid;
        width: auto;
        height: auto;
        gap: 1.5vw;
        justify-items: center;
        align-items: center;
    }
    /*----- content#03 -----*/
    .club-introduction .icon{
        max-width: 4vw;
        max-height: 4vw;
    }
    .club-introduction h3{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .text.club-introduction{
        max-width: 90%;
        font-size: 1.5rem;
        padding:  0 2vw 3vw;
    }
    /*----- content#04 -----*/
    .development-introduction{
        flex-flow: column;/*縦に並べる*/
    }
    .development-introduction .text{
        font-size: 1.75rem;
        min-width: 65%;
        max-width: 100%;
    }
    .development-introduction .text h3{
        font-size: 1.9rem;
    }
    /*スライダーの幅*/
    .slider{
        max-width: 45%;
    }
    /*----- content#05 -----*/
    .others{
        flex-flow: column;/*縦に並べる*/
        justify-items: center;
        align-items: center;
    }
    .poster{
        max-width: 80%;
    }
    .sns{
        width: 80%;
    }
    .sns iframe{
        max-width:100%;
    }
    /*----- header -----*/
    #nav-content{
        width: 75%;
    }
    .nav-item{
        margin: 20px;
    }
    .nav-item a {
        font-size: 16px;
        padding: 5px;
    }
    /*----- footer -----*/
    footer h1{
        font-size: 2.8rem;
    }
    footer p{
        font-size: 2.25rem;
    }
    .twitter-box{
        margin-bottom: 1vw;
        width: 4rem;
        height: 4rem;
    }
    footer small{
        padding: 1vw 0;
        font-size: 0.8rem;
    }
    .lab{
        margin: 0.5rem;
        font-size: 3rem;
    }
}
