/*共通設定*/
html{
    font-size: 1.6vw;/*基準サイズ(横幅1000pxで1文字16pxになる)*/
    scroll-padding-top: 55px;/*ページ内リンクのずれ補正用*/
}
/*位置調整*/
body{
    margin: 0;
}
/*一番上のコンテンツがヘッダーと被らないように調整*/
.contents{
    padding-top: 50px;
}
/*コンテンツの位置調整用*/
.content{
    padding-top: 1.5vw;
}
/*余白をつけ、中央に配置*/
.wrapper{
    max-width: 80%;
    margin: 5% auto 0; /*中央に配置*/
    padding: 0 4%; /*スマホ向けの調整*/
}

/*見出しのサイズと位置*/
.content h2{
    margin: 1vw 0;
    padding-left: 10%;
    font-size: 2rem;
}
/*テキストボックスの基本設定*/
.text{
    background: #eee;
    padding: 0 1vw;
    vertical-align: middle;
    font-size: 1.2rem;
}

/*----- content#04 -----*/
.development-introduction .text{
    width: 46%;
    padding: 0 3vw;
}
.development-introduction .text h3{
    padding-top: 2vw;
    margin: 1vw 0;
    font-size: 1.1rem;
}
.development-introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
/*flexの配置の順番*/
.r{
    order: 1;
}
.l{
    order: -1;
}

/*---------- スライダーの各種設定 ----------*/

/*スライダーの幅調整*/
.slider{
    margin-top: 2vw;
    max-width: 30%;
}
/*------ スライダー画像 ------*/
.slick-slide img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*-------- 高さ調整 ----------*/
.slick-slide{
    height:auto!important;
}
/*---------- ドット ----------*/
.slick-dots li {
	width: 10px;
    bottom: 10px;
}
/*----------- 矢印 -----------*/
.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;
}
.slick-arrow:before{
    font-size: 30px!important;
}

@media(max-width: 768px){
    .wrapper{
        max-width: 95%;
    }
    .content h2{
        padding-left: 5%;
        font-size: 2.5rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .l, .r{
        order: 0;
    }
    /*----- content#04 -----*/
    .development-introduction{
        flex-flow: column;
    }
    .development-introduction .text{
        font-size: 1.75rem;
        min-width: 65%;
        max-width: 100%;
    }
    .development-introduction .text h3{
        font-size: 1.9rem;
    }
    .slider{
        max-width: 45%;
    }
}